<footer class=" py-5 " style="font-family: 'Roboto', sans-serif; color: #AAAAAE !important; background-color: #00589C">
  <!-- Start Footer -->
  <ul class="nav justify-content-center  ">
    <li class="nav-item    ">
      <a class="nav-link text-white text-start  ps-4 " href="#">Kontakt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-start px-4   " href="#">Impressum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-start   " href="#">Nutzungsbedingungen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-start  px-4  " href="#">Datenschutz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-start pe-4   " href="#">Sitemap</a>
    </li>
  </ul>
  <!-- End Footer -->
</footer>
